#theme h1 a{color:#FFF;}/*color for main title*/
#theme h1 strong{color:#16c6cc;}/*color for the name in main title*/
#theme a.caption-title{color:#16c6cc;border-top:1px dotted #16c6cc;border-bottom:1px dotted #16c6cc;}/*color for caption in info panel on hover*/
#theme div.cap-special h3 a.caption-title{color:#16c6cc;border:none;}/*color for caption in info panel on hover*/
#theme #portfolio ul li div.work-caption span.type small{background:#16c6cc;color:#e5e5e5;}
#theme header{background:#1d1d1d;}
#theme header p{color:#e5e5e5;}
#theme section#portfolio{background:#16c6cc;}
#portfolio nav ul#nav-works li{background-color:#16c6cc;}
#portfolio nav ul#nav-works li a.current, #portfolio nav ul#nav-works li a:hover{color:#16c6cc;}
#portfolio nav ul#nav-works li#nav-first-child{background-color:#16c6cc;}
#theme div#pagination span.arrow a:hover{color:#16c6cc;}
#portfolio ul li div.work-caption span.year, #portfolio ul li div.work-caption span.type{color:#16c6cc;}/*year and category item color*/
#portfolio ul li div.work-caption span.magnify a{color:#16c6cc;}/*plus button color*/
#portfolio ul li div.work-caption span.magnify a:hover{background:#16c6cc;color:#1d1d1d;}
footer h4{color:#16c6cc}/*footer h4 color*/
footer section#footer-map-section ul li small{background-color:#16c6cc;}